.about {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.about-image {
  object-fit: cover;
  aspect-ratio: 4/3;
  min-width: 256px;
  max-width: 550px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 40px;
  text-align: right;
  max-width: 600px;
  text-transform: uppercase;
}

.about-text-title {
  font-family: "Thunder", sans-serif;
  font-weight: 500;
  font-size: 120px;
  line-height: 87.5%;
}

.about-more {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  color: var(--foreground-secondary);
}

.about-more-chevron {
  stroke: var(--foreground-secondary);
}

.about-more-label {
}
