.contact {
  display: flex;
  gap: 32px;
}

.contact-item {
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: var(--foreground-primary);
  text-transform: uppercase;
  border-radius: 6px;
  transition: box-shadow 0.15s ease-in-out;
}

.contact-item:hover,
.contact-item:focus {
  box-shadow: 0 0 0 6px var(--background), 0 0 0 8px var(--foreground-secondary);
}
