.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  align-items: center;
  text-transform: uppercase;
  border-bottom: solid 1px var(--foreground-secondary);
  background-color: var(--header-background);
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
}

.header-links {
  display: flex;
  gap: 24px;
  border-radius: 15px;
  list-style-type: none;
  padding: 0;
}

.header-links > li {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.header-links > li:first-child {
  opacity: 1;
}

.header-links > li:hover {
  opacity: 1;
}

.header-text {
  text-align: right;
}

@media all and (max-width: 768px) {
  .header-text {
    display: none;
  }
  .header {
    padding: 24px;
  }
}
