@font-face {
  src: url(./fonts/iosevka-medium.woff2);
  font-family: "Iosevka";
  font-weight: 500;
}
@font-face {
  src: url(./fonts/Thunder-MediumLC.woff2);
  font-family: "Thunder";
  font-weight: 500;
}

:root {
  --background: #ede2dc;
  --foreground-primary: #2d1407;
  --foreground-secondary: #c9ad9d;
  --header-background: rgba(237, 226, 220, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1612;
    --foreground-primary: #fbe1d3;
    --foreground-secondary: #76675f;
    --header-background: rgba(29, 22, 18, 0.5);
  }
}

html {
  background-color: var(--background);
  color: var(--foreground-primary);
}

body {
  margin: 0;
  font-family: "Iosevka", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
